{% set data = getData('news', 3, [
    ['acf.related.films','contains',post.id]
    ,'or',
    ['acf.related.series','contains',post.id]
    ,'or',
    ['acf.related.emissions','contains',post.id]
]) %}
{% set knp = mimicKnpPaginator(data.count, data.limit) %}

<section class="panel-target panel-news mt-5">
    <div class="panel-row">
        <div class="row">
            <div class="col-md-12" data-loadmore-view>

                <div class="news-listing" data-loadmore-replacement>
                    {% for item in data.items %}
                        {{ c('news-listing', {'item':item, 'loop':loop}) }}
                    {% else %}
                        {{ p('no-match', {
                            'title':'Aucune actualité trouvée',
                            'content':"Il n'y a actuellement aucune News rattachée à <b>"~ post.title ~"</b>"
                        }) }}
                    {% endfor %}
                </div>
                
                {{ p('knp',{'knp':knp}) }}
                
            </div>
        </div>
    </div>
</section>