{% if data.count > 0 %}
    
    <div class="{{cls??''}}">
        <div class="flex items-center justify-between mb-10">
            {{ p('sec-header', {title:'Séries à la Tv', cls:'mt-0 linear-g-title'}) }}
            {{ p('sec-see-more', {link:getUrl('series')}) }} 
        </div>

        <div class="flex4 movie--portrait-sm-3-lines-wrapper owl-carousel owl-theme owl-cute-nav">
            {% for item in data.items %}
                {{ c('movie--portrait-sm-3-lines', { item: item }) }}
            {% endfor %}
        </div>
    </div>
    
{% endif %}