<!-- # Festival -->
    <div class="borderedBlock">
        <div class="stripedContent">
            {{xhr('flux--2-lines-figure', {
                id: 'Festival',
                classNames: 'flux--2-lines-figure-wrapper',
                blocksCount: 6,
                times: 1,
                cachable: false,
            })}}
        </div>
    </div>
<!-- / Festival -->