<div class="mt-30">

    {{xhr('flyer--portrait-sm', {
        id: 'Flyer portrait sm',
        classNames: 'flyer--portrait-sm-wrapper',
        blocksCount: 1,
        times: 1,
        cachable: false
    })}}

</div>