<div class="row">
    <div class="col-xs-12">{{
        p('sec-see-more', {
            title: title ?? 'Plus',
            link: link,
            dataJs: dataJs ?? false
        }) }}
    </div>
</div>