<div class="text-right secSeeMoreWrapper">
    <a {{ dataJs is defined and (dataJs != false and dataJs != null) ? 'data-js='~(dataJs)~'' : '' }} href="{{link}}" class="secSeeMore c-p-dark">{{ title ?? 'Voir plus'}} &rarr;</a>
</div>