<section class="panel-target mt-30">
    <div class="panel-row">
        <div class="row">
            <div class="col-xs-12"><p class="pre-wrap lh-25">{{ attr(user, 'infos.acf.props.biographie', '<em>Aucune information disponible</em>')|raw }}</p></div>
        </div>
    </div>
</section>