{% set username = getUserFullName(user) %}
{% set href = path('readUser',{'username':user.usernameSlugged,'id':user.id}) %}

<article class="card-profile col-xs6 col-xs-3 text-center">
    <figure><a href="{{href}}" class="ellipsis lc1">{{ image(username, attr(user, 'image', getUrl('theme/uploads/profile.png')), 140, 180, 'c', 'img-thumb img-responsive')|raw }}</a></figure>
    <h4 class="username"><a href="{{href}}" class="ellipsis lc1">{{username}}</a></h4>
</article>