<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="flex ff-staatliches">
                    <div><p class="desc no-mg" sg-text>Besoin d'une solution adéquate pour votre entreprise?</p></div>
                    <div><a href="#" class="btn btn-block btn-lg btn-black radius-0" sg-text sg-link>Contactez-nous &rarr;</a></div>
                </div>
            </div>
        </div>
    </div>
</section>