<section class="our-history">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wrapper wrapper-figure" sg-image-bg style="background-image:url(&quot;http://localhost/leaderconseils/uploads/presentation-copie--60bb--952x687.jpg&quot;);" data-lazy-style="background-image:url(&quot;http://localhost/leaderconseils/uploads/presentation-copie--60bb--952x687.jpg&quot;);">
                    <div class="experience vam vam-sm-broken text-center text-uppercase">
                        <div><span class="number" sg-text>16</span><span class="sign">+</span></div>
                        <div><span class="text" sg-text>années d'experiences</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrapper wrapper-rich-content">
                    <div class="vam vam-sm-broken sm-center">
                        
                        <h2 class="title ff-great-vibes color-secondary" sg-text>Bienvenue chez LeaderConseils</h2>
                        <p class="intro" sg-text>Le partenaire à l'écoute de vos besoins, pour une gestion dynamique et professionnelle de votre entreprise.</p>
                        <p class="outro" sg-text>Créé en 2005, Leader Conseils est un cabinet d'Etudes, de Conseil, d'Assistance aux entreprises et d'Intermédiation financière. Nous faisons également de la formation dont la mission est d'apporter une assistance pluridisciplinaire dans l'amélioration des compétences des entreprises et des administrations.

Structure d'expérience dans le domaine de la gestion de projets et incubateur de nouveaux entrepreneurs, Leader Conseils, avec ses experts nationaux et internationaux, accompagne les promoteurs d'affaires depuis l'idée jusqu'à sa réalisation du projet.</p>
                        <footer class="sec-footer hidden">
                            <a sg-text sg-link class="btn btn-lg bttn-primary" href="http://localhost/leaderconseils/a-propos">Mieux nous connaitre →</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>