{% set infos = getGlobal('infos') %}

<div class="macro-socials">
    <h6 class="title">{{ title ?? 'Restons en contact' }}</h6>
    <a class="no-ajaxify whatsapp active--pulse" href="#"><span class="iconify" data-icon="fa-brands:whatsapp" data-inline="false"></span></a>
    <a class="no-ajaxify facebook active--pulse" href="#" target="blank"><span class="iconify" data-icon="bx:bxl-facebook" data-inline="false"></span></a>
    <a class="no-ajaxify twitter active--pulse" href="#" target="blank"><span class="iconify" data-icon="ant-design:twitter-outlined" data-inline="false"></span></a>
</div>