<section class="sec-welcome text-center pd">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <header class="sec-header wrapper">
                    <h2 class="title ff-oswald swagg-widget-3302f" sg-text-rich="" data-swagg-builder-widget-id="3302f"><p>Bienvenue sur EPTA,<br>Ecole Pastorale de Théologie Appliquée</p></h2>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="sec-body wrapper">
                    <p class="desc swagg-widget-b0e7b" sg-text="" data-swagg-builder-widget-id="b0e7b">Fondée par l'apôtre Gadji Abraham, EPTA a ouverte ses portes pour sa 1ère promotion le 17 novembre 2018 au centre évangélique Eben-ezer  Autel Rehoboth...</p>
                    <a class="action btn btn-lg bttn-primary swagg-widget-430b4" sg-text="" sg-link="" data-swagg-builder-widget-id="430b4" href="http://localhost/epta-ci/a-propos">Lire la suite →</a>
                </div>
            </div>
        </div>
    </div>
</section>